<!DOCTYPE html>
<html lang="en">
<head>
  <title>BIOCHEMISTRY REPORT</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-sm-4 p-3 bg-primary text-white"><h4>Referred by Dr:</h4><input type="text" class="form-control" placeholder="Enter Referred by Dr"></div>
    <div class="col-sm-8 p-3 bg-primary text-white"></div>
  </div>
    <center>
    <h1><kbd>BIOCHEMISTRY REPORT</kbd> </h1>
</center>
    <div class="container-fluid mt-3">

    <div class="row">
        <div class="col-sm-4 bg-primary text-black"><center><h3>Biochemical Test</h3></center></div>
        <div class="col-sm-4 bg-info text-black"><center><h3>Report Value</h3></center></div>
        <div class="col-sm-4 bg-danger text-black"><center><h3>Normal Value</h3></center></div>
      </div>
    </div>
    <div class="container-fluid mt-3">

        <div class="row">
            <div class="col-sm-4 text-black"><center><h3>Fasting blood sugar </h3></center></div>
            <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter fasting blood sugar" name="email"></h3></center></div>
            <div class="col-sm-4 text-black"><center><h5>70 - 110 Mg/dl</h5></center></div>
          </div>
        </div>
        <div class="container-fluid mt-3">

            <div class="row">
                <div class="col-sm-4 text-black"><center><h3>P.P.Blood sugar(2Hrs-Meal)</h3></center></div>
                <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter P.P.Blood sugar" name="email"></h3></center></div>
                <div class="col-sm-4 text-black"><center><h5>80 - 140 Mg/dl</h5></center></div>
              </div>
            </div>
            <div class="container-fluid mt-3">

                <div class="row">
                    <div class="col-sm-4 text-black"><center><h3>Random blood sugar</h3></center></div>
                    <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Random blood sugar" name="email"></h3></center></div>
                    <div class="col-sm-4 text-black"><center><h5>80 - 130 Mg/dl</h5></center></div>
                  </div>
                </div>
                <div class="container-fluid mt-3">

                    <div class="row">
                        <div class="col-sm-4 text-black"><center><h3>Cholesterol</h3></center></div>
                        <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Cholesterol" name="email"></h3></center></div>
                        <div class="col-sm-4 text-black"><center><h5>130 - 200 Mg/dl</h5></center></div>
                      </div>
                    </div>
                
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-sm-4 text-black"><center><h3>HDL - Cholesterol</h3></center></div>
                            <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter HDL - Cholesterol" name="email"></h3></center></div>
                            <div class="col-sm-4 text-black"><center><h5>30 - 60 Mg/dl</h5></center></div>
                          </div>
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="row">
                                <div class="col-sm-4 text-black"><center><h3>Triglyceride</h3></center></div>
                                <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Triglyceride " name="email"></h3></center></div>
                                <div class="col-sm-4 text-black"><center><h5>60 - 150 Mg/dl</h5></center></div>
                              </div>
                            </div>
                            <div class="container-fluid mt-3">
                                <div class="row">
                                    <div class="col-sm-4 text-black"><center><h3>L.D.L.</h3></center></div>
                                    <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter L.D.L." name="email"></h3></center></div>
                                    <div class="col-sm-4 text-black"><center><h5>Up To 150 Mg/dl</h5></center></div>
                                  </div>
                                </div>
                                <div class="container-fluid mt-3">
                                    <div class="row">
                                        <div class="col-sm-4 text-black"><center><h3>V.L.D.L.</h3></center></div>
                                        <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter V.L.D.L." name="email"></h3></center></div>
                                        <div class="col-sm-4 text-black"><center><h5>10 - 40 Mg/dl</h5></center></div>
                                      </div>
                                    </div>
                                    <div class="container-fluid mt-3">
                                        <div class="row">
                                            <div class="col-sm-4 text-black"><center><h3>S.Urea</h3></center></div>
                                            <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.Urea" name="email"></h3></center></div>
                                            <div class="col-sm-4 text-black"><center><h5>20 - 40 Mg/dl</h5></center></div>
                                          </div>
                                        </div>
                                        <div class="container-fluid mt-3">
                                            <div class="row">
                                                <div class="col-sm-4 text-black"><center><h3>S.Urea Acid</h3></center></div>
                                                <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.Urea Acid" name="email"></h3></center></div>
                                                <div class="col-sm-4 text-black"><center><h5>Men - 3.5 - 7.2 Mg/dl , Women - 2.6 - 6.0 /Mg/dl </h5></center></div>
                                              </div>
                                            </div>
                                            <div class="container-fluid mt-3">
                                                <div class="row">
                                                    <div class="col-sm-4 text-black"><center><h3>Creatinine</h3></center></div>
                                                    <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Creatinine" name="email"></h3></center></div>
                                                    <div class="col-sm-4 text-black"><center><h5>0.6 - 1.4 Mg/dl</h5></center></div>
                                                  </div>
                                                </div>
                                                <div class="container-fluid mt-3">
                                                    <div class="row">
                                                        <div class="col-sm-4 text-black"><center><h3>S.Bilirubin Total</h3></center></div>
                                                        <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.Bilirubin Total" name="email"></h3></center></div>
                                                        <div class="col-sm-4 text-black"><center><h5>0.2 - 1.0 Mg/dl</h5></center></div>
                                                      </div>
                                                    </div>
                                                    <div class="container-fluid mt-3">
                                                        <div class="row">
                                                            <div class="col-sm-4 text-black"><center><h3>Direct</h3></center></div>
                                                            <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Total Platelet count" name="email"></h3></center></div>
                                                            <div class="col-sm-4 text-black"><center><h5>0.0 - 0.4 Mg/dl</h5></center></div>
                                                          </div>
                                                        </div>
                                                        <div class="container-fluid mt-3">
                                                            <div class="row">
                                                                <div class="col-sm-4 text-black"><center><h3>Indirect</h3></center></div>
                                                                <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Indirect" name="email"></h3></center></div>
                                                                <div class="col-sm-4 text-black"><center><h5>0.2 - 0.8 Mg/dl</h5></center></div>
                                                              </div>
                                                            </div>
                                                            <div class="container-fluid mt-3">
                                                                <div class="row">
                                                                    <div class="col-sm-4 text-black"><center><h3>S. Total Protein</h3></center></div>
                                                                    <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S. Total Protein" name="email"></h3></center></div>
                                                                    <div class="col-sm-4 text-black"><center><h5>6 - 8.0 GMg/dl</h5></center></div>
                                                                  </div>
                                                                </div>
                                                                <div class="container-fluid mt-3">
                                                                    <div class="row">
                                                                        <div class="col-sm-4 text-black"><center><h3>Albumin</h3></center></div>
                                                                        <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Albumin" name="email"></h3></center></div>
                                                                        <div class="col-sm-4 text-black"><center><h5>3.2 - 4.8 GMg/dl</h5></center></div>
                                                                      </div>
                                                                    </div>
                                                                    <div class="container-fluid mt-3">
                                                                        <div class="row">
                                                                            <div class="col-sm-4 text-black"><center><h3>Globulin</h3></center></div>
                                                                            <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Globulin" name="email"></h3></center></div>
                                                                            <div class="col-sm-4 text-black"><center><h5>2.3 - 3.5 GMg/dl</h5></center></div>
                                                                          </div>
                                                                        </div>
                                                                        <div class="container-fluid mt-3">
                                                                            <div class="row">
                                                                                <div class="col-sm-4 text-black"><center><h3>S.G.P.T.</h3></center></div>
                                                                                <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.G.P.T." name="email"></h3></center></div>
                                                                                <div class="col-sm-4 text-black"><center><h5>5 - 35 Units/ml</h5></center></div>
                                                                              </div>
                                                                            </div>
                                                                            <div class="container-fluid mt-3">
                                                                                <div class="row">
                                                                                    <div class="col-sm-4 text-black"><center><h3>S.G.O.T.</h3></center></div>
                                                                                    <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.G.O.T." name="email"></h3></center></div>
                                                                                    <div class="col-sm-4 text-black"><center><h5>8 - 40 Units/ml</h5></center></div>
                                                                                  </div>
                                                                                </div>
                                                                                <div class="container-fluid mt-3">
                                                                                    <div class="row">
                                                                                        <div class="col-sm-4 text-black"><center><h3>S.Calcium </h3></center></div>
                                                                                        <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.Calcium " name="email"></h3></center></div>
                                                                                        <div class="col-sm-4 text-black"><center><h5>9 - 11 Mg/dl</h5></center></div>
                                                                                      </div>
                                                                                    </div>
                                                                                    <div class="container-fluid mt-3">
                                                                                        <div class="row">
                                                                                            <div class="col-sm-4 text-black"><center><h3>Sodium </h3></center></div>
                                                                                            <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter Sodium" name="email"></h3></center></div>
                                                                                            <div class="col-sm-4 text-black"><center><h5>135 - 155 mmol/L</h5></center></div>
                                                                                          </div>
                                                                                        </div>
                                                                                        <div class="container-fluid mt-3">
                                                                                            <div class="row">
                                                                                                <div class="col-sm-4 text-black"><center><h3>S.Potassium </h3></center></div>
                                                                                                <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.Potassium" name="email"></h3></center></div>
                                                                                                <div class="col-sm-4 text-black"><center><h5>3.5 - 5.5 mmol/L</h5></center></div>
                                                                                              </div>
                                                                                            </div>
                                                                                            <div class="container-fluid mt-3">
                                                                                                <div class="row">
                                                                                                    <div class="col-sm-4 text-black"><center><h3>S.Chloride </h3></center></div>
                                                                                                    <div class="col-sm-4 text-black"><center><h3><input type="text" class="form-control" placeholder="Enter S.Chloride" name="email"></h3></center></div>
                                                                                                    <div class="col-sm-4 text-black"><center><h5>98 - 109 mmol/L</h5></center></div>
                                                                                                  </div>
                                                                                                </div>
                                                                                                <div class="container-fluid">
                                                                                                  <div class="row">
                                                                                                    <div class="col-sm text-black p-3"><center><h3>Urine Sugar</h3></center></div>
                                                                                                    <div class="col-sm text-black p-3"><input type="text" class="form-control" placeholder="Enter F"></div>
                                                                                                    <div class="col-sm text-black p-3"><input type="text" class="form-control" placeholder="Enter PP "></div>
                                                                                                    <div class="col-sm text-black p-3"><input type="text" class="form-control" placeholder="Enter R "></div>
                                                                                                    <div class="col-sm text-black p-3"><h4>Ketone Bodies</h4></div>
                                                                                                  </div>
</body>
</html>
