{% extends 'main.html' %}

{% block content%}
<div>
  
  <section class="login_box_area section_gap">
		<div class="container">
			<div class="row mt-5">
			<div class="col-lg-4"> 
      </div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3 class='accordion'>Sign in to access your reports </h3>
						<form class="row login_form" action="" method="post" id="contactForm" novalidate="novalidate">
							{% csrf_token%}
              <div class="col-md-9 form-group">
								
								<input type="text" class="form-control mt-2 form-control-lg" id="name" name="email" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
							</div>
							<div class="col-md-9 form-group mt-2">
								<input type="password" class="form-control form-control-lg" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
							</div>
						
							<div class="col-md-6  form-group mt-2">
								<button type="submit" name="login" class="btn btn-primary btn-lg btn-block offset-3 mb-2 ">Log In</button>
								<a href="#" class="offset-3 pl-3">Forgot Password?</a>
                <a href="{% url 'register' %}">Register </a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


{% endblock content %}