<div class="mt-5" styele="heigh:10rem;"> &nbsp;</div>
<footer class="mt-5 text-center text-white fixed-botto mt-5" style="background-color=#000000; ">
  <!-- Grid container -->
  <div class="container p-4 pb-0 ">
    <!-- Section: Social media -->

    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 footer-colour">
    @ 2022 PLMS
    <div class="text-white" >Project by: Amal Krishna Nair, Shivraj Suntnur, Lakshay Redkar.</div>
  </div>
  <!-- Copyright -->
</footer>